
<!-- --> 

<div class="footer_section layout_padding">
         <div class="container">
            <div class="location_main">
               <div class="call_text"><img src="{{ asset('assets/images/call-icon.png') }} "></div>
               <div class="call_text"><a href="#">Call +01 1234567890</a></div>
               <div class="call_text"><img src="{{ asset('assets/images/mail-icon.png') }}"></div>
               <div class="call_text"><a href="#">demo@gmail.com</a></div>
            </div>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="{{ asset('assets/images/fb-icon.png') }} "></a></li>
                  <li><a href="#"><img src="{{ asset('assets/images/twitter-icon.png') }} "></a></li>
                  <li><a href="#"><img src="{{ asset('assets/images/linkedin-icon.png') }} "></a></li>
                  <li><a href="#"><img src="{{ asset('assets/images/instagram-icon.png') }} "></a></li>
               </ul>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
         </div>
      </div>