

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

 <div class="header_section">
         <div class="header_main">
            <div class="mobile_menu">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="logo_mobile"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo.png') }}  "></a></div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav">
                        <li class="nav-item">
                           <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link " href="#">Contact</a>
                        </li>
                     </ul>
					 

                  </div>
               </nav>
            </div>
            <div class="container-fluid">
               <div class="logo"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo.png') }} "></a></div>
               <div class="menu_main">
                  <ul>
                     <li class="active"><a href="{{ path('home') }}">Home</a></li>
                     <li><a href="{{ path('about') }}">About</a></li>
                     <li><a href="{{ path('service') }}">Guide</a></li>	
                     {% if app.user %}
                            <li><a href="{{ path('main') }}">Available place </a></li>
                             <li><a href="{{ path('review') }}">Review</a></li>
                            <li class="nav-item">
                                <a  href="{{ path('app_logout') }}">Log out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a  href="{{ path('app_register') }}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a  href="{{ path('app_login') }}">Log in</a>
                            </li>
				        {% endif %}	 
                  </ul>
				  
				        
			        
               </div>
            </div>
         </div>
        
      </div>